.selecionar .btn{
  white-space: nowrap;
  display: flex;
  justify-content: center;
  gap: 200px;
  padding: 15px 20px;
}

.btns{
  display: flex;
  flex-direction: column;
  gap: 40px;

}

@media (max-height: 590px) {
  .btns{
    gap: 0px;
  
  }

  .selecionar .btn{

    align-items: flex-end;
}

#selecionar .passo{
  padding: 10px;
}
  
#selecionar .passo p:first-child {
  padding-bottom: 0px;
}

}